<template>
  <q-page class="flex flex-center">
    <q-card class="my-card-home" flat>
      <q-card-section horizontal>
        <q-img
          class="col-5"
          src="https://img.freepik.com/free-vector/box-with-money-charity-donation_24877-54504.jpg?t=st=1655619992~exp=1655620592~hmac=e651fe0a6010c7bbfd517d161a621b131738c90a10b32408b0066e131688cfd6&w=740"
        />

        <q-card-section>
          <p class="text-h5">Form Permohonan Bantuan Pandemi Covid-19</p>
          <p>dibuat untuk menghimpun dan memverifikasi data orang - orang yang berhak mendapatkan bantuan sosial akibat pandemi covid-19</p>
        </q-card-section>
      </q-card-section>

      <q-card-actions align="center">
        <q-btn style="background: goldenrod; color: white; width: 150px" label="Isi Form" no-caps class="q-mt-md" to="/form"/>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageIndex'
})
</script>

<style>
.my-card-home {
  width: 100%;
  max-width: 600px;
}
</style>
